* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

h1,
h2,
h3,
h5 {
  font-weight: 700;
}

body {
  background-color: white;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #011827;
  padding: 10px;
}
header .logo__container {
  align-items: center;
}
@media screen and (max-width: 899px) {
  header .logo__container {
    width: 100%;
  }
  header .logo__container .hamburger__pic {
    display: block;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    background-image: url(hamburger.png);
    float: right;
    width: 51px;
    height: 32px;
    cursor: pointer;
  }
}
header .logo {
  transform: translateY(0.1rem);
  width: 6rem;
  height: 4rem;
}
header h1 {
  display: inline-block;
  color: white;
  font-size: 20px;
  line-height: 1.25rem;
  padding-top: 10px;
}
header span {
  display: block;
}
header .menu__container {
  width: 100%;
  height: auto;
  padding: 1rem 5% 0.8rem 5%;
}
@media screen and (max-width: 499px) {
  header .menu__container {
    display: none;
  }
}
header .menu__container .menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
header .menu__container .menu a {
  color: white;
}
header .menu__container .menu a:hover {
  color: #8ACFE5;
}
@media screen and (min-width: 500px) and (max-width: 899px) {
  header .logo__container {
    width: 100%;
  }
  header .logo {
    transform: translateY(0.2rem);
    margin: 5px 10px 0 5px;
    width: 7rem;
    height: 5rem;
    margin-right: 10px;
  }
  header .logo__container h1 {
    height: auto;
    font-size: 24px;
    line-height: 1.5rem;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  header .menu__container {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  header .logo__container {
    display: flex;
    align-items: center;
  }
  header .logo__container h1 {
    display: flex;
    font-size: 2.2rem;
    padding-top: 40px;
  }
  header .logo__container h1 span {
    margin-right: 10px;
  }
  header .logo__container .logo {
    width: 8rem;
    height: 5.5rem;
    margin-right: 10px;
  }
}

.background__pic {
  width: 100%;
  height: 15rem;
  background-image: url(background2.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.background__pic .buttons {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  justify-content: unset;
  align-items: center;
  width: 100%;
  height: auto;
  top: 100%;
  right: 50%;
  bottom: -130%;
  padding: 0 5%;
  transform: translate(50%, -50%);
}
.background__pic .buttons .btn {
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 1rem 3rem;
}
.background__pic .buttons .btn__one {
  background-color: transparent;
  color: #36769d;
  text-decoration: underline;
  font-size: 15px;
  margin: 1rem;
}
.background__pic .buttons .btn__two {
  background-color: #8acfe5;
  color: #011827;
  font-size: 18px;
}
@media screen and (min-width: 500px) and (max-width: 899px) {
  .background__pic {
    height: 25rem;
  }
  .background__pic .buttons {
    bottom: -80%;
  }
  .background__pic .buttons .btn {
    font-size: 16px;
  }
}
@media screen and (min-width: 900px) {
  .background__pic {
    height: 30rem;
  }
  .background__pic .buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    top: 100%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .background__pic .buttons .btn {
    font-size: 23px;
  }
  .background__pic .buttons .btn__one {
    margin-right: 1rem;
    background-color: #e3170a;
    color: white;
    text-decoration: none;
  }
}

.reviews {
  width: 100%;
  height: auto;
  margin: 15rem 0 8rem 0;
  padding: 0 5%;
}
.reviews .user__content {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
}
.reviews .user__content .review {
  display: flex;
  height: auto;
  margin-left: 1rem;
}
@media screen and (max-width: 899px) {
  .reviews .user__content .review {
    min-width: 100%;
  }
}
.reviews .user__content .review .user__place {
  width: auto;
  height: 100%;
  margin-right: 1rem;
}
.reviews .user__content .review .user__place .user__pic {
  width: 5rem;
  height: 5rem;
  float: left;
}
.reviews .user__content .review__one {
  margin-left: 0;
}
.reviews .user__content .review__text {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 0.7;
}
@media screen and (min-width: 900px) {
  .reviews {
    margin: 150px 0;
  }
  .reviews .user__content {
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .reviews .user__content .review {
    width: 45%;
  }
  .reviews .user__content .new__row {
    display: none;
  }
}

.popular__challenges {
  width: 100%;
  height: auto;
  margin: 5rem 0;
}
.popular__challenges .main__title {
  text-align: center;
  font-weight: 400;
  margin: 4.5rem;
  font-size: 25px;
}
.popular__challenges .boxes {
  display: flex;
  justify-content: unset;
  width: 100%;
  padding-left: 15%;
  padding-bottom: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.popular__challenges .boxes .box {
  height: auto;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: white;
}
@media screen and (max-width: 900px) {
  .popular__challenges .boxes .box {
    max-width: 1300px;
    min-width: 65%;
    margin-right: 4rem;
  }
}
.popular__challenges .boxes .box .box__pic {
  height: 12rem;
  width: 100%;
}
.popular__challenges .boxes .box .box__content {
  padding: 1rem;
}
.popular__challenges .boxes .box .box__content .title {
  font-weight: 400;
  font-size: 28px;
}
.popular__challenges .boxes .box .box__content .five__stars {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.1rem 0 1rem 0;
}
.popular__challenges .boxes .box .box__content .five__stars .stars {
  display: flex;
}
.popular__challenges .boxes .box .box__content .five__stars .stars .star {
  background-image: url(Star__1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1rem;
  height: 1rem;
  margin-right: 0.1rem;
}
.popular__challenges .boxes .box .box__content .five__stars .stars .empty__star {
  background-image: url(Star51.png);
}
.popular__challenges .boxes .box .box__content .five__stars p {
  font-size: 15px;
}
.popular__challenges .boxes .box .box__content .box__text {
  font-size: 18px;
}
.popular__challenges .boxes .box .box__content .box__button {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.popular__challenges .boxes .box .box__content .box__button .book__button {
  background-color: #e3170a;
  color: white;
  font-weight: 700;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 2rem;
  cursor: pointer;
}
.popular__challenges .mid__buttons {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: unset;
  align-items: center;
  margin: 5rem 0;
}
.popular__challenges .mid__buttons .btn__One {
  background-color: transparent;
  color: #36769d;
  text-decoration: underline;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 2rem;
  padding: 1rem 3rem;
  border: none;
  cursor: pointer;
}
.popular__challenges .mid__buttons .btn__Two {
  background-color: #8acfe5;
  color: #011827;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  padding: 1rem 3rem;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 500px) {
  .popular__challenges .main__title {
    font-size: 27px;
  }
  .popular__challenges .boxes .box .box__pic {
    height: 15rem;
  }
}
@media screen and (min-width: 900px) {
  .popular__challenges {
    padding: 0 5%;
  }
  .popular__challenges .box__challenges {
    max-width: 1300px;
    margin: 0 auto;
  }
  .popular__challenges .box__challenges .main__title {
    font-size: 2rem;
  }
  .popular__challenges .box__challenges .boxes {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    overflow-x: hidden;
  }
  .popular__challenges .box__challenges .boxes .box {
    width: 28%;
    height: auto;
  }
  .popular__challenges .box__challenges .mid__buttons {
    justify-content: center;
    flex-direction: row;
  }
  .popular__challenges .box__challenges .mid__buttons .btn__One {
    margin-right: 1rem;
    margin-top: 0;
    background-color: #E3170A;
    color: white;
    font-weight: 700;
    font-size: 23px;
    border-radius: 5px;
    padding: 1rem 3rem;
    border: none;
    cursor: pointer;
  }
  .popular__challenges .box__challenges .mid__buttons .btn__Two {
    background-color: #8ACFE5;
    color: #011827;
    font-size: 23px;
    font-weight: 700;
    border-radius: 5px;
    padding: 1rem 3rem;
    border: none;
    cursor: pointer;
  }
}

.info {
  background-color: #011827;
  width: 100%;
  height: auto;
  padding: 0 5%;
}
.info .mid__info {
  max-width: 1300px;
  margin: 0 auto;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info .mid__info p {
  height: auto;
  text-align: center;
  color: white;
}
@media screen and (max-width: 899px) {
  .info .mid__info p {
    font-size: 1.2rem;
  }
}
.info .mid__info button {
  margin-top: 2.5rem;
  font-weight: 700;
  border-radius: 5px;
  background-color: #011827;
  color: #8ACFE5;
  border: 0.2rem solid #8ACFE5;
  padding: 1rem 3rem;
  cursor: pointer;
}
@media screen and (max-width: 899px) {
  .info .mid__info button {
    font-size: 20px;
  }
}
@media screen and (min-width: 900px) {
  .info p {
    max-width: 45%;
    font-size: 1.5rem;
  }
  .info button {
    font-size: 24px;
  }
}

.block__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.block__content .block__one, .block__content .block__four {
  order: 1;
  background-image: url(block11.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 25rem;
}
.block__content .block__two, .block__content .block__three {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}
.block__content .block__two h2, .block__content .block__three h2 {
  font-size: 2rem;
}
.block__content .block__two p, .block__content .block__three p {
  font-size: 1.5rem;
}
.block__content .block__two button, .block__content .block__three button {
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  background-color: #E3170A;
  color: white;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}
.block__content .block__two {
  order: 2;
}
.block__content .block__three {
  order: 4;
}
.block__content .block__four {
  order: 3;
  background-image: url(kelly44.png);
}
@media screen and (min-width: 500px) {
  .block__content {
    padding: 0 5%;
  }
}
@media screen and (min-width: 900px) {
  .block__content {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
  .block__content .block__one, .block__content .block__two, .block__content .block__three, .block__content .block__four {
    width: 50%;
    height: 30rem;
  }
  .block__content .block__three {
    order: 3;
  }
}

.foot {
  width: 100%;
  height: auto;
  background-color: #011827;
  padding: 0 5%;
  margin-top: 10rem;
}
.foot .foot__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5rem 0;
}
.foot .foot__flex .footer__text {
  width: inherit;
  margin-bottom: 1.8rem;
}
.foot .foot__flex .footer__text h5 {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.foot .foot__flex .footer__text p {
  color: white;
  font-size: 0.9rem;
}
.foot .foot__flex .links {
  display: flex;
  flex-direction: column;
  width: inherit;
  width: 6rem;
}
.foot .foot__flex .links .site__map {
  margin-bottom: 2rem;
}
.foot .foot__flex .links .site__map h5 {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.foot .foot__flex .links .site__map a {
  display: inline-block;
  color: white;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}
.foot .foot__flex .links .site__map .play__online {
  margin-top: 1rem;
}
.foot .foot__flex .links .social__media h5 {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.foot .foot__flex .links .social__media a {
  display: inline-block;
  color: white;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}
@media screen and (min-width: 500px) {
  .foot .foot__flex .footer__text h5, .foot .foot__flex .links .site__map h5, .foot .foot__flex .links .social__media h5 {
    font-size: 1.1rem;
  }
  .foot .foot__flex .links {
    width: 7rem;
  }
}
@media screen and (min-width: 900px) {
  .foot .foot__flex {
    flex-direction: row;
    justify-content: space-between;
    padding: 13rem;
    max-width: 1200px;
  }
  .foot .foot__flex .footer__text {
    width: 40%;
  }
  .foot .foot__flex .footer__text p, .foot .foot__flex .links .site__map a, .foot .foot__flex .links .social__media a {
    font-size: 1.1rem;
  }
  .foot .foot__flex .links {
    flex-direction: row;
    width: 18rem;
  }
  .foot .foot__flex .links .site__map ul {
    display: flex;
    flex-direction: column;
    width: 10rem;
  }
  .foot .foot__flex .links .social__media {
    width: 10rem;
  }
}

/*# sourceMappingURL=main.css.map */
